.input-div{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    animation: 1s ease 0s 1 slideInFromBottom;
    position: relative;
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .input {
      display:flex;
      justify-content: center;
      flex-direction: row;
      height: 9vh;
      align-items: center;
      position: relative;
      width: inherit;
      margin: 3%;
  }
  .search{
    width: 100%;
    height: 100%;
    border: none;
    background:none;
    outline:none;
    text-decoration: none;
    font-size: 2rem;
    box-shadow: 0  10px 35px rgba(0,0,0,.1);
    text-align: center;
    margin-left: auto;
  }

  .fa-search{
   margin-left: -4%;
  }

  .fa-search:hover{
      cursor: pointer;
      transform: scale(1.1);
  }