.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    animation: 1s ease 0s 1 slideInFromBottom;
    /* background-color: yellow 0.1; */
}
.item{
    height: 80%;
    width: 25%;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    font-family :'Roboto';
    position: relative;
}




.fa-thermometer-half{
    position: absolute;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }