.blur{
    background-color: black 0.3;
    z-index: 0;
}
.modal{
    height: 50vh;
    top: 50%;
    left: 50%;
    width: 50vw;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.1);
    transform: translate(50%,50%);
}