@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  /* background: url(./assets/Images/img5.jpg); */
  
  overflow: hidden;
  background-repeat: space;
  background-size: cover;
}
body{
  /* background: url(./assets/Images/img1.jpg); */
margin:0;
padding:0;
font-family: 'Montserrat',sans-serif;

 
}


  


  






